fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
python-multipart
redis
websockets
aiofiles
pillow
email-validator
httpx
livekit-api
google-cloud-storage

stripe>=15.3,<16
